
<div class="text-center">
    <h1 class="display-4">Давайте начнем!</h1>
  <p>Это приложение поможет хранить заметки и документы куратора студенческой группы</p>
  <br/>
  <br/>
  <div class="container">
      <div class="row">
        <div class="col-sm">
          <a class="btn btn-primary" style="width: 200px; height: 67px" role="button" asp-controller="Group" asp-action="Groups">Управление группами</a>
        </div>
        <div class="col-sm">
          <a class="btn btn-primary" style="width: 200px; height: 67px" role="button" asp-controller="Subject" asp-action="AttendancePage">Отметить посещаемость</a>
        </div>
        <div class="col-sm">
          <a class="btn btn-primary" style="width: 200px; height: 67px" role="button" asp-controller="Subject" asp-action="Reports">Отчеты посещаемости</a>
        </div>
        <div class="col-sm">
                  <a class="btn btn-primary" style="width: 200px; height: 67px" role="button" asp-controller="Student" asp-action="Marks">Оценки</a>
                </div>
      </div>
    </div>
</div>