@using Microsoft.AspNetCore.Identity
@model studentCurator.Models.Group
@inject UserManager<User> _userManager
@{
    ViewBag.Title = "EditGroup";
    Layout = "_Layout";
    var currentUser = await _userManager.GetUserAsync(User);
    
}

<h2>Редактирование группы</h2>
<form method="post" asp-controller="Group" asp-action="Edit">
    <span class="form-inline"><input style="display: none" asp-for="UserId"/></span>
        <div class="form-group">
            <label for="faculty">Факультет</label>
            <input class="form-control" asp-for="Faculty" id="faculty">
            <span asp-validation-for="Faculty" style="color: red"></span>
        </div>
        <div class="form-group">
            <label for="course">Курс</label>
            <input class="form-control" asp-for="Course" id="course">
            <span asp-validation-for="Course" style="color: red"></span>
        </div>
        <div class="form-group">
            <label for="group">Группа</label>
            <input class="form-control" asp-for="GroupNumber" id="group">
            <span asp-validation-for="GroupNumber" style="color: red"></span>
        </div>
        <div class="form-group">
            <input class="form-control" type="submit" value="Сохранить">
        </div>
</form>